.form-contact-us input{
    border-radius: 30px;
    padding: 15px;

    font-size: large;
}

.form-contact-us input:focus 
{
    color: crimson;
    border: solid 3px crimson !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    font-size: medium;
    font-weight: 500;
}
.form-contact-us textarea{
    border-radius: 30px !important;
    padding: 15px !important;
}
.form-contact-us textarea:focus{
    color: crimson;
    border: solid 3px crimson !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 50px 80px rgba(0, 0, 0, 0.12)
  ;
  
    font-size: medium;
    font-weight: 500;

}

.form-contact-us .btn-block{
    font-weight: 400 !important;
    border-radius: 30px;
    font-size: large;

}
.form-contact-us .btn-block:hover{
    
    background-color: crimson !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 50px 80px rgba(0, 0, 0, 0.12)
  ;
  
}

.form-contact-us label {
    font-size: large;
    font-weight: 500;
}

.Mobile-display{
    display: none !important;
}
@media (max-width: 575.98px) { 
    .img-contact-us{
        display: none;
    }
    .form-mobile-res{
        
        width: 90% !important;
        margin-left: auto !important ;
        margin-right: auto !important;
    }
    .Mobile-display{
        display: block !important;
    }
}