.nav-link-custom{
    font-size: x-large;
    font-weight: bolder;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto 10px;
    vertical-align: middle;
    line-height: 100px;

}
.nav-link-custom:hover{
    color: #E42D41 !important;
    border-bottom: solid 5px #E42D41;
    padding-bottom: 10px !important;

}
.navbar{
    background-color:  transparent !important;
}
.Header-logo{
    width: 300px;
    position: relative; 
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    left: -5%;
}
.gradient-line{
    position: absolute;
    margin: 0 0;
    left: 0;
    right: 0;
    top: 100px;
    height: 7px;
    z-index: 1;
    background-image: linear-gradient(90deg,#0964A4,#E42D41);
    overflow: hidden;
 


}